body {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    font-size: 25px;
  }
  
  .start{
    padding-bottom: 40px;
    text-align: left;
    padding-left: 170px;
  }

  
  .second{
    position: relative;
    left: 25%;
  }

  .third{
    position: relative;
    left: 550px;
  }

  .specification{
    padding-left: 500px;
    padding-bottom: 30px;
  }

  .dis{
    color: #f8f1f1;
  }
  
  .top-conatiner {
    padding-top: 100px;
    margin: 0;
    background-color: #a2b29f;
  }
  
  hr {
    border: dotted  6px;
    color: #10a582;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  
  .intro {
    width: 50%;
    margin: auto;
  }
  
  .top-cloud {
    position: absolute;
    right: 30%;
  }
  
  .middle-cloud {
    position: absolute;
    left: 30%;
  }
  
  h1 {
    color: #f3f4ed;
    font-family: 'Castoro', serif;
    margin: 10px auto 0 auto;
    font-size: 90px;
  }
  
  h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }
  
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  
  .football-image {
    width: 36.5%;
    float: left;
    margin-right: 20px;
  }

  .astro-image {
    width: 36.5%;
    float: left;
    margin-right: 20px;
  }
  
  
  
  .website-image {
    width: 36.5%;
    float: right;
    margin-right: 20px;
  }
  
  .book-image{
    float: left;
    margin-right: 40px;
    width: 36.5%;
  }
  
  .middle-container {
    margin: 100px 0;
  }
  
  .bottom-container {
    background-color: #40514E;
    padding: 50px 0 20px;
  }
  
  p {
    line-height: 2;
  }
  
  a {
    color: #cdd0cb;
    font-family: Montserrat;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: 	#ffffff;
  }
  
  .contact-msg {
    width: 40%;
    margin: 40px auto 30px;
  }
  
  .copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  
  .Thank-msg{
    margin-top: 40px;
  }
  
  .quote{
    position: relative;
    left: 400px;
  }
  
  .btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: Montserrat Sans;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    -webkit-box-shadow: 1px 1px 6px 0 #000000;
    -moz-box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 1px 1px 6px 0 #000000;
    border: solid #762C2C 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    border: solid #FFFFFF 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .MyPic{
    height: 200px;
    width: 179px;
  }

  